<!DOCTYPE html>
<html lang="ru-RU">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<link rel="shorcut icon" type="image/x-icon" href="http://foto-ruban.ru/static/images/favicon.png">
	<meta name="yandex-verification" content="670af28b42ed5280"/> 
	<meta name="google-site-verification" content="EiG5EJzhcDHpe2_rRbH-7_onzS1PeKlFRGL6h9vG8bM" />
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="{% block meta-description %}{% endblock %}"/>
	<meta name="keywords" content="{% block meta-keywords %}{% endblock %}"/>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    {% block more_css %}
    {% endblock %}
<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter23528509 = new Ya.Metrika({ id:23528509, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/23528509" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '485995078274583');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=485995078274583&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<script>
// ViewContent
// Track key page views (ex: product page, landing page or article)
fbq('track', 'ViewContent');


// Search
// Track searches on your website (ex. product searches)
fbq('track', 'Search');


// AddToCart
// Track when items are added to a shopping cart (ex. click/landing page on Add to Cart button)
fbq('track', 'AddToCart');


// AddToWishlist
// Track when items are added to a wishlist (ex. click/landing page on Add to Wishlist button)
fbq('track', 'AddToWishlist');


// InitiateCheckout
// Track when people enter the checkout flow (ex. click/landing page on checkout button)
fbq('track', 'InitiateCheckout');


// AddPaymentInfo
// Track when payment information is added in the checkout flow (ex. click/landing page on billing info)
fbq('track', 'AddPaymentInfo');


// Purchase
// Track purchases or checkout flow completions (ex. landing on "Thank You" or confirmation page)
fbq('track', 'Purchase', {value: '1.00', currency: 'USD'});


// Lead
// Track when a user expresses interest in your offering (ex. form submission, sign up for trial, landing on pricing page)
fbq('track', 'Lead');


// CompleteRegistration
// Track when a registration form is completed (ex. complete subscription, sign up for a service)
fbq('track', 'CompleteRegistration');
</script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.lazyloadxt.min.js"></script>
	<script type="text/javascript" src="/static/js/imagesloaded.pkgd.js"></script>
	<script type="text/javascript" src="/static/js/masonry.pkgd.min.js"></script>
	<script type="text/javascript" src="/static/js/utils.js"></script>
	<script type="text/javascript" src="/static/js/scripts.js"></script>
</head>
<body class="page" itemscope itemtype="http://schema.org/WebPage">
	<div class="page page__header-line">
		<div class="page header">
			<div class="logo logo__logo-container">
				<div class="page logo">
					<div class="logo logo__logo-name" itemprop="author" itemscope itemtype="http://schema.org/Person">
						<a href="/" style="text-decoration: none;">
							<p class="logo logo-text" itemprop="name">
								Илья&nbsp;Рубан
							</p>
							<meta itemprop="url" content="http://foto-ruban.ru/contacts/"/>
						</a>
					</div>
					<div class="logo logo__logo-desc">
						<p class="logo desc-text">фотограф</p>
					</div>
				</div>
			</div>
			<div class="navigation__navigation-container">
                <nav itemscope itemtype="http://schema.org/SiteNavigationElement">
                    <div class="navigation">
                        <div class="navigation__item-container">
                            <div class="menu navigation-item_border-rigth">
                                <a class="menu-link" href="/blog/" itemprop="url">
                                    <p class="menu-link menu-text" itemprop="name">Блог</p>
                                </a>
                            </div>
                        </div>
                        <div class="navigation__item-container css_portfolio">
                            <div class="navigation-item navigation-item_border-rigth">
    {#							<a class="item-link" href="#">#}
    {#								<p class="item-link item-text" onmouseover="showMenu('.navigation__portfolio-container');" onclick="showhideonclick('.navigation__portfolio-container');">Портфолио</p>#}
    {#							</a>#}
                                <a class="item-link" href="#" itemprop="url">
                                    <p class="item-link item-text js-popup-portfolio" itemprop="name">Портфолио</p>
                                </a>
                            </div>
                            <!-- Manual element inserting! Non pybem!!! -->
                            <div class="navigation__portfolio-container js-hidden-portfolio">
                                <div class="portfolio-popup">
                                    <div class="portfolio-popup__popup-item">
                                        <a href="/portfolio/svadbi/" class="popup-item__item-link" itemprop="url">
                                            <p class="popup-item__item-text" itemprop="name">свадебная фотография</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="portfolio-popup">
                                    <div class="portfolio-popup__popup-item">
                                        <a href="/portfolio/lovestory/" class="popup-item__item-link" itemprop="url">
                                            <p class="popup-item__item-text" itemprop="name">Love Story</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="portfolio-popup">
                                    <div class="portfolio-popup__popup-item">
                                        <a href="/portfolio/portreit/" class="popup-item__item-link" itemprop="url">
                                            <p class="popup-item__item-text" itemprop="name">Портрет</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="portfolio-popup">
                                    <div class="portfolio-popup__popup-item">
                                        <a href="/portfolio/semeynie/" class="popup-item__item-link" itemprop="url">
                                            <p class="popup-item__item-text" itemprop="name">Детская и семейная фотография</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="portfolio-popup">
                                    <div class="portfolio-popup__popup-item">
                                        <a href="/portfolio/video/" class="popup-item__item-link" itemprop="url">
                                            <p class="popup-item__item-text" itemprop="name">Видео</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End of manual inserting -->
                        </div>
                        <div class="navigation__item-container">
                            <div class="menu navigation-item_border-rigth">
                                <a class="menu-link" href="/prices/" itemprop="url">
                                    <p class="menu-link menu-text" itemprop="name">Услуги и цены</p>
                                </a>
                            </div>
                        </div>
                        <!--
                        <div class="navigation__item-container css_information">
                            <div class="navigation-item  navigation-item_border-rigth">
                                <a class="item-link" href="#">
                                    <p class="item-link item-text js-popup-info">Полезная&nbsp;информация</p>
                                </a>
                            </div>
                            -->
                            <!-- Manual element inserting! Non pybem!!! -->
                            <!--
                            <div class="navigation__information-container js-hidden-info">
                                <div class="portfolio-popup">
                                    <div class="portfolio-popup__popup-item">
                                        <a href="/about-me/" class="popup-item__item-link" itemprop="url">
                                            <p class="popup-item__item-text" itemprop="name">Обо мне</p>
                                        </a>
                                    </div>
                                    <div class="portfolio-popup__popup-item">
                                        <a href="/articles/" class="popup-item__item-link" itemprop="url">
                                            <p class="popup-item__item-text" itemprop="name">Полезная информация</p>
                                        </a>
                                    </div>
								</div>
                            </div>
                            -->
                            <!-- End of manual inserting -->
                        </div>
                        <div class="navigation__item-container">
                            <div class="navigation-item">
                                <a class="item-link" href="/contacts/" itemprop="url">
                                    <p class="item-link item-text" itemprop="name">Контакты</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
			</div>
		</div>
	</div>
	<div class="page page__content-line" itemprope="mainContentOfPage">
        {% block content %}
        {% endblock %}
		<a href="#" class="navigation-link-top"></a>
		<a href="/" class="navigation-link-home navigation-link-home_margin-bot"></a>
	</div>
	<div class="page page__footer-line">
		<div class="footer">
			<div class="footer__contacts-container">
				<div class="contacts">
					<div class="contacts__contact-container">
						<div class="contact">
							<a href="tel: +7 925 823-84-40" class="contact-link">
								<span class="contact-icon contact-icon_phone"></span>
								<span class="contact-icon-text">+7&nbsp;925&nbsp;823-84-40</span>
							</a>
						</div>
					</div>
					<div class="contacts__contact-container">
						<div class="contact">
							<a href="http://instagram.com/foto_ruban/" class="contact-link">
								<span class="contact-icon contact-icon_instgrm"></span>
								<span class="contact-icon-text"></span>
							</a>
						</div>
					</div>
					<div class="contacts__contact-container">
						<div class="contact">
							<a href="http://facebook.com/profile.php?id=100009428172184" class="contact-link">
								<span class="contact-icon contact-icon_fb"></span>
								<span class="contact-icon-text"></span>
							</a>
						</div>
					</div>
					<div class="contacts__contact-container">
						<div class="contact">
							<a href="https://vk.com/id281922907" class="contact-link">
								<span class="contact-icon contact-icon_vk"></span>
								<span class="contact-icon-text"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
            <div class="footer__copyrights">
                <div class="copyright">
                    <p class="copyright-text">&#169;&nbsp;<a href="http://foto-ruban.ru">FotoRuban</a>Все права защищены</p>
                </div>
            </div>
            <div class="footer__confidential">
                <div class="confidential">
                    <a href="/confidentials/">Политика конфендициальности</a>
                </div>
            </div>
		</div>
	</div>
	<script type="text/javascript">
	{% block bottom-scripts %}{% endblock %}
	</script>
</body>
</html>
