{% extends "base.html" %}
{% block title %}{{ post.caption }} {{ post.date }}{% endblock %}
{% block more_css %}
{% endblock %}
{% block content %}
<div class="row align-center small-collapse">
    <div class="small-12 columns">
        <div class="media-object">
            <div class="card card_padding">
                <div class="card__thumbnail card__thumbnail_margin card__thumbnail_stack-for-small">
                    <p class="card__text">{{ post.caption }}</p>
                    <p class="card-thumbnail__date card-thumbnail__date_padding card-thumbnail__date_margin">{{ post.date }}</p>
                    <p class="card__text">{{ post.text|safe }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% for entry in entryes %}
<div class="row align-center small-collapse">
    <div class="small-12 columns">
        <div class="media-object">
            <div class="card card_padding">
                <a href="/{{ entry.image }}" class="card_link">
                    <div class="card__thumbnail card__thumbnail_margin card__thumbnail_stack-for-small">
                        <img src="/{{ entry.image }}" class="card-thumbnail__image"/>
                        <p class="card__text">{{ entry.text }}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
{% block bottom-scripts %}
{% endblock %}
