{% extends "base.html" %}
{% block title %}{{ post.caption }} {{ post.date }}{% endblock %}
{% block more_css %}
    <link rel="stylesheet" type="text/css" href="/static/css/paginator.css"/>
{% endblock %}
{% block content %}
<div class="blog-content" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="blog__blog-article">
            <div class="blog-article__blog-article-date">
                    <p class="blog-article-caption" itemprop="headline">{{ post.caption }}</p>
                    <span class="block-article-date-text" itemprop="datePublished" datetime="{{ post.schema_date }}">{{ post.date }}</span>
            </div>
            <div class="blog-article__blog-article-description">
                <p class="blog-article-description" itemprop="text">
                    {{ post.text }}
                </p>
            </div>
	</div>
    {% for entry in entryes %}
    <div class="blog__blog-article">
        <div class="blog-article" itemprop="blogPost">
            <div class="blog-article__blog-article-description">
                <p class="blog-article-description" itemprop="text">
                    {{ entry.text }}
                </p>
            </div>
            <div class="blog-article__blog-article-image">
                {% if not entry.image %}
                <img class="blog-article-image__image" data-src="/static/images/temporary_anavailable.png" itemprop="image"/>
                {% else %}
                <img class="blog-article-image__image" data-src="/{{ entry.image }}" itemprop="image"/>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
{#    {% include "paginator_block.html" %}	#}
</div>
{% endblock %}
{% block bottom-scripts %}
	imagesLoade(document.querySelector('.blog-content'));	
{% endblock %}
