{% extends "base.html" %}
{% block title %}Блог - новые фотосессии свадебного фотографа в Москве.{% endblock %}
{% block meta-description %}Блог - серии фотографий по датам.{% endblock %}
{% block meta-keywords %}Недорогой,свадебный фотограф, Москва, свадьбы, семейные фотосессии.{% endblock %}
{% block more_css %}
{% endblock %}
{% block content %}
{% for post in posts %}
<div class="row align-center small-collapse">
	<div class="small-12 columns">
		<div class="media-object">
			<div class="card card_padding">
				<a href="{{ post.url }}" class="card_link">
					<div class="card__thumbnail card__thumbnail_margin card__thumbnail_stack-for-small card__thumbnail_border">
						<img src="/{{ post.image }}" class="card-thumbnail__image"/>
						<p class="card__text">{{ post.caption }}</p>
						<p class="card-thumbnail__date card-thumbnail__date_padding card-thumbnail__date_margin">{{ post.date }}</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}