<div class="footer" role="footer">
	<meta itemprop="name" content="Илья Рубан">
	<div class="footer-item footer-item_float" itemscope itemtype="http://schema.org/ContactPoint">
		<a class="footer-item-link" href="tel: +7 925 823-84-40" itemprop="url">
			<span class="footer-item-icon">
				<img src="./static/images/phone_icon.png" class="footer-item-icon__image"/>
			</span>
			<span class="footer-item-text" itemprop="telephone">+7&nbsp;925&nbsp;823-84-40</span>
		</a>
	</div>
	<div class="footer-item footer-item_float" itemscope itemtype="http://schema.org/ContactPoint">
		<a class="footer-item-link" href="mailto:foto-ruban@mail.ru" itemprop="url">
			<span class="footer-item-icon">
				<img src="./static/images/mail_icon.png" class="footer-item-icon__image"/>
			</span>
			<span class="footer-item-text" itemprop="email">foto-ruban@mail.ru</span>
		</a>
	</div>
	<!-- 	Said no to facebook!!!
	<div class="footer-item footer-item_float" itemscope itemtype="http://schema.org/ContactPoint">
		<a class="footer-item-link" href="http://facebook.ru/fotoruban" itemprop="url">
			<span class="footer-item-icon">
				<img src="./static/images/fb_icon.png" class="footer-item-icon__image"/>
			</span>
			<span class="footer-item-text" itemprop="name">facebook/FotoRuban</span>
		</a>
	</div> -->
	<div class="footer-item footer-item_float" itemscope itemtype="http://schema.org/ContactPoint">
		<a class="footer-item-link" href="http://vk.com/fotoruban" itemprop="url">
			<span class="footer-item-icon">
				<img src="./static/images/vk_icon.png" class="footer-item-icon__image"/>
			</span>
			<span class="footer-item-text" itemprop="name">vk.com/FotoRuban</span>
		</a>
	</div>
</div>