{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block meta-description %}Свадебный фотограф Илья Рубан в Москве{% endblock %}
{% block meta-keywords %}Свадебный фотограф, фотограф на свадьбу в москве, портретная съемка, семейное фото, свадебная фотография.{% endblock %}
{% block content %}
	<div class="page page__content-line">
		<div class="page content">
		<div class="page content">
			<!-- otsuda -->
			<div class="content__article-container content__article-container_grid8">
				<div class="article">
					<a href="http://foto-ruban.ru/blog/2014-08-23/" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="https://img-fotki.yandex.ru/get/3113/230892406.5/0_173e30_1b985676_orig">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Виолетта и Михаил свадьба</span>
						</div>
					</a>
				</div>
			</div>
			<!-- dosuda -->
			<div class="content__article-container content__article-container_grid4">
				<div class="article">
					<a href="http://foto-ruban.ru/blog/2015-02-21/" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="https://img-fotki.yandex.ru/get/4429/230892406.4/0_1664a0_a8b9f355_orig">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Паша и Марина свадьба</span>
						</div>
					</a>
				</div>
			</div>
			<div class="content__article-container content__article-container_grid4">
				<div class="article">
					<a href="http://foto-ruban.ru/portfolio/lovestory/#" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="https://img-fotki.yandex.ru/get/2708/230892406.1/0_14b5a1_45f87eaa_orig">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Love story</span>
						</div>
					</a>
				</div>
			</div>
			<div class="content__article-container content__article-container_grid8">
				<div class="article">
					<a href="http://foto-ruban.ru/blog/2014-11-15/" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="https://img-fotki.yandex.ru/get/15592/230892406.3/0_15ebab_1df4c131_orig">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Вова и Аня свадьба</span>
						</div>
					</a>
				</div>
			</div>
			<div class="content__article-container content__article-container_grid4">
				<div class="article">
					<a href="http://foto-ruban.ru/blog/2015-08-08/#" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="https://img-fotki.yandex.ru/get/6516/230892406.5/0_173e31_f07bd750_orig">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Витя и Лена беременность</span>
						</div>
					</a>
				</div>
			</div>
			<div class="content__article-container content__article-container_grid8">
				<div class="article">
					<a href="http://foto-ruban.ru/blog/2014-01-05/" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="http://img-fotki.yandex.ru/get/5800/230892406.1/0_14b5ac_e2118784_orig">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Денис и Света Love story</span>
						</div>
					</a>
				</div>
			</div>			
			<div class="content__article-container content__article-container_grid4">
				<div class="article">
					<a href="http://foto-ruban.ru/blog/2015-03-21/" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="https://img-fotki.yandex.ru/get/4409/230892406.5/0_173e2e_171a7c4f_orig">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Марина и Паша беременность</span>
						</div>
					</a>
				</div>
			</div>
			<div class="content__article-container content__article-container_grid4">
				<div class="article">
					<a href="http://foto-ruban.ru/blog/2015-07-11/" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="https://img-fotki.yandex.ru/get/6517/230892406.5/0_173e2f_74944d8f_orig">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Стас и Яна Love story</span>
						</div>
					</a>
				</div>
			</div>	
			<div class="content__article-container content__article-container_grid8">
				<div class="article">
					<a href="http://foto-ruban.ru/blog/2014-02-22/" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="https://img-fotki.yandex.ru/get/3012/230892406.3/0_15eba8_c80ca9c3_orig">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Саша и Оля Love story</span>
						</div>
					</a>
				</div>
			</div> 
			<div class="content__article-container content__article-container_grid4">
				<div class="article">
					<a href="http://foto-ruban.ru/blog/2014-06-21/#" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="http://img-fotki.yandex.ru/get/6822/230892406.1/0_14b5a4_a52decb3_orig">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Катя и Леша Love story</span>
						</div>
					</a>
				</div>
			</div>						
			<!-- nize ne vstavlyat -->
		</div>								
		</div>
		<a href="#" class="navigation-link-top"></a>
		<a href="#" class="navigation-link-home navigation-link-home_margin-bot"></a>
	</div>
{% endblock %}
{% block bottom-scripts %}
		var container = document.querySelector('.page .content');
		var masnr;
		if(container){
			imagesLoaded(container, function(){
				masnr = new Masonry(container,{ itemSelector: '.content__article-container',
					columnWidth: container.querySelector('.content__article-container_grid4'),
				//containerStyle: { position: 'relative', width: '80%' }
			});
			});
		}
{% endblock %}
