{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block meta-description %}Свадебный фотограф Илья Рубан в Москве{% endblock %}
{% block meta-keywords %}Свадебный фотограф, фотограф на свадьбу в москве, портретная съемка, семейное фото, свадебная фотография.{% endblock %}
{% block content %}
	<div class="page page__content-line">
		<div class="page content">
		<div class="page content">
			<!-- otsuda -->
			<div class="content__article-container content__article-container_grid8">
				<div class="article">
					<a href="http://foto-ruban.ru/blog/2014-08-23/" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="http://img-fotki.yandex.ru/get/3000/230892406.1/0_14b5aa_5bc0da3b_orig">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Виолетта  и  Михаил</span>
						</div>
					</a>
				</div>
			</div>
			<!-- dosuda -->
			<div class="content__article-container content__article-container_grid4">
				<div class="article">
					<a href="http://foto-ruban.ru/portfolio/lovestory/" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="http://img-fotki.yandex.ru/get/2708/230892406.1/0_14b5a8_e0c70576_orig">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Love story</span>
						</div>
					</a>
				</div>
			</div>
			<div class="content__article-container content__article-container_grid4">
				<div class="article">
					<a href="http://foto-ruban.ru/portfolio/lovestory/" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="https://dl.dropboxusercontent.com/u/78872167/%D0%93%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F%20%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0/11.jpg">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Love story</span>
						</div>
					</a>
				</div>
			</div>
			<div class="content__article-container content__article-container_grid8">
				<div class="article">
					<a href="" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="https://img-fotki.yandex.ru/get/15592/230892406.3/0_15ebab_1df4c131_orig">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Аня и Вова</span>
						</div>
					</a>
				</div>
			</div>
			<div class="content__article-container content__article-container_grid4">
				<div class="article">
					<a href="http://foto-ruban.ru/portfolio/svadbi/" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="http://img-fotki.yandex.ru/get/2914/230892406.1/0_14b945_6ae5b70f_orig">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Свадебная фотография</span>
						</div>
					</a>
				</div>
			</div>
			<div class="content__article-container content__article-container_grid8">
				<div class="article">
					<a href="http://foto-ruban.ru/blog/2014-01-05/" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="http://img-fotki.yandex.ru/get/5800/230892406.1/0_14b5ac_e2118784_orig">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Денис и Света Lovestory</span>
						</div>
					</a>
				</div>
			</div>			
			<div class="content__article-container content__article-container_grid4">
				<div class="article">
					<a href="http://foto-ruban.ru/blog/2013-11-30/" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="https://dl.dropboxusercontent.com/u/78872167/%D0%93%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F%20%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0/_MG_7948.jpg">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Яна портрет</span>
						</div>
					</a>
				</div>
			</div>
			<div class="content__article-container content__article-container_grid4">
				<div class="article">
					<a href="http://foto-ruban.ru/portfolio/svadbi/" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="http://img-fotki.yandex.ru/get/3913/230892406.1/0_14b5a3_732e59d4_orig">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Свадебная фотография</span>
						</div>
					</a>
				</div>
			</div>	
			<div class="content__article-container content__article-container_grid8">
				<div class="article">
					<a href="http://foto-ruban.ru/blog/2014-02-22/" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="https://img-fotki.yandex.ru/get/3012/230892406.3/0_15eba8_c80ca9c3_orig">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Саша и Оля Love story</span>
						</div>
					</a>
				</div>
			</div> 
			<div class="content__article-container content__article-container_grid4">
				<div class="article">
					<a href="http://foto-ruban.ru/blog/2014-06-21/#" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="http://img-fotki.yandex.ru/get/6822/230892406.1/0_14b5a4_a52decb3_orig">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Катя и Леша Love story</span>
						</div>
					</a>
				</div>
			</div>		
			<div class="content__article-container content__article-container_grid8">
				<div class="article">
					<a href="http://foto-ruban.ru/blog/2014-06-21/#" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="https://img-fotki.yandex.ru/get/30/230892406.3/0_15ebae_3c4be4ab_orig">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Портрет</span>
						</div>
					</a>
				</div>
			</div>					
			<div class="content__article-container content__article-container_grid4">
				<div class="article">
					<a href="http://foto-ruban.ru/blog/2014-06-21/#" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="https://img-fotki.yandex.ru/get/6822/230892406.3/0_15ebaa_1b59e3c0_orig">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Свадебная фотография</span>
						</div>
					</a>
				</div>
			</div>					
			<div class="content__article-container content__article-container_grid4">
				<div class="article">
					<a href="http://foto-ruban.ru/blog/2014-06-21/#" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="https://img-fotki.yandex.ru/get/15573/230892406.3/0_15ebac_5654280d_orig">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Свадебная фотография</span>
						</div>
					</a>
				</div>
			</div>					
			<div class="content__article-container content__article-container_grid8">
				<div class="article">
					<a href="http://foto-ruban.ru/blog/2014-06-21/#" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="https://img-fotki.yandex.ru/get/3200/230892406.3/0_15ebad_dad9066e_orig">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Детская фотография</span>
						</div>
					</a>
				</div>
			</div>					
			<div class="content__article-container content__article-container_grid4">
				<div class="article">
					<a href="http://foto-ruban.ru/blog/2014-06-21/#" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="https://img-fotki.yandex.ru/get/5821/230892406.3/0_15ed68_6350243e_orig">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Детская фотография</span>
						</div>
					</a>
				</div>
			</div>					
			<div class="content__article-container content__article-container_grid4">
				<div class="article">
					<a href="http://foto-ruban.ru/blog/2014-06-21/#" style="text-decoration: none;">
						<div class="article article__image-container article__image-container_padding-side-10">
							<img class="article image" src="https://img-fotki.yandex.ru/get/3407/230892406.1/0_14b5a6_5995d4bf_orig">
						</div>
						<div class="image__description">
							<span class="image-description-text image-description-text_font-size">Love story</span>
						</div>
					</a>
				</div>
			</div>					
			<!-- nize ne vstavlyat -->
		</div>								
		</div>
		<a href="#" class="navigation-link-top"></a>
		<a href="#" class="navigation-link-home navigation-link-home_margin-bot"></a>
	</div>
{% endblock %}
{% block bottom-scripts %}
		var container = document.querySelector('.page .content');
		var masnr;
		if(container){
			imagesLoaded(container, function(){
				masnr = new Masonry(container,{ itemSelector: '.content__article-container',
					columnWidth: container.querySelector('.content__article-container_grid4'),
				//containerStyle: { position: 'relative', width: '80%' }
			});
			});
		}
{% endblock %}
