{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block meta-description %}Свадебный фотограф Илья Рубан в Москве{% endblock %}
{% block meta-keywords %}Свадебный фотограф, фотограф на свадьбу в москве, портретная съемка, семейное фото, свадебная фотография.{% endblock %}
{% block content %}
<div class="row small-collapse">
	<div class="small-12 medium-3 columns">
		<div class="media-object">
			<div class="card card_padding">
				<a href="#" class="card_link">
					<div class="card__thumbnail card__thumbnail_border card__thumbnail_animation">
						<img src="/static/images/temporary_anavailable.png" class="card-thumbnail__image"/>
						<p class="card-thumbnail__text card-thumbnail__text_color">Опять что-то про мишек</p>
						<p class="card-thumbnail__date card-thumbnail__date_padding card-thumbnail__date_margin card-thumbnail__date_font-size-045">13.04.2016</p>
					</div>
				</a>
			</div>
		</div>
		<div class="media-object">
		</div>
		<div class="media-object">
			<div class="card card_padding">
				<a href="#" class="card_link">
					<div class="card__thumbnail card__thumbnail_border card__thumbnail_animation">
						<img src="/static/images/temporary_anavailable.png" class="card-thumbnail__image"/>
						<p class="card-thumbnail__text card-thumbnail__text_color">Опять что-то про мишек</p>
						<p class="card-thumbnail__date card-thumbnail__date_padding card-thumbnail__date_margin card-thumbnail__date_font-size-045">13.04.2016</p>
					</div>
				</a>
			</div>
		</div>
		<div class="media-object">
			<div class="card card_padding">
				<a href="#" class="card_link">
					<div class="card__thumbnail card__thumbnail_border card__thumbnail_animation">
						<img src="/static/images/temporary_anavailable.png" class="card-thumbnail__image"/>
						<p class="card-thumbnail__text card-thumbnail__text_color">Опять что-то про мишек</p>
						<p class="card-thumbnail__date card-thumbnail__date_padding card-thumbnail__date_margin card-thumbnail__date_font-size-045">13.04.2016</p>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="small-12 medium-3 columns">
		<div class="media-object">
			<div class="card card_padding">
				<a href="#" class="card_link">
					<div class="card__thumbnail card__thumbnail_border card__thumbnail_animation">
						<img src="/static/images/temporary_anavailable.png" class="card-thumbnail__image"/>
						<p class="card-thumbnail__text card-thumbnail__text_color">Опять что-то про мишек</p>
						<p class="card-thumbnail__date card-thumbnail__date_padding card-thumbnail__date_margin card-thumbnail__date_font-size-045">13.04.2016</p>
					</div>
				</a>
			</div>
		</div>
		<div class="media-object">
			<div class="card card_padding">
				<a href="#" class="card_link">
					<div class="card__thumbnail card__thumbnail_border card__thumbnail_animation">
						<img src="/static/images/temporary_anavailable.png" class="card-thumbnail__image"/>
						<p class="card-thumbnail__text card-thumbnail__text_color">Опять что-то про мишек</p>
						<p class="card-thumbnail__date card-thumbnail__date_padding card-thumbnail__date_margin card-thumbnail__date_font-size-045">13.04.2016</p>
					</div>
				</a>
			</div>
		</div>
		<div class="media-object">
			<div class="card card_padding">
				<a href="#" class="card_link">
					<div class="card__thumbnail card__thumbnail_border card__thumbnail_animation">
						<img src="/static/images/temporary_anavailable.png" class="card-thumbnail__image"/>
						<p class="card-thumbnail__text card-thumbnail__text_color">Опять что-то про мишек</p>
						<p class="card-thumbnail__date card-thumbnail__date_padding card-thumbnail__date_margin card-thumbnail__date_font-size-045">13.04.2016</p>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="small-12 medium-3 columns">
		<div class="media-object">
			<div class="card card_padding">
				<a href="#" class="card_link">
					<div class="card__thumbnail card__thumbnail_border card__thumbnail_animation">
						<img src="/static/images/temporary_anavailable.png" class="card-thumbnail__image"/>
						<p class="card-thumbnail__text card-thumbnail__text_color">Опять что-то про мишек</p>
						<p class="card-thumbnail__date card-thumbnail__date_padding card-thumbnail__date_margin card-thumbnail__date_font-size-045">13.04.2016</p>
					</div>
				</a>
			</div>
		</div>
		<div class="media-object">
			<div class="card card_padding">
				<a href="#" class="card_link">
					<div class="card__thumbnail card__thumbnail_border card__thumbnail_animation">
						<img src="/static/images/temporary_anavailable.png" class="card-thumbnail__image"/>
						<p class="card-thumbnail__text card-thumbnail__text_color">Опять что-то про мишек</p>
						<p class="card-thumbnail__date card-thumbnail__date_padding card-thumbnail__date_margin card-thumbnail__date_font-size-045">13.04.2016</p>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="small-12 medium-3 columns">
		<div class="media-object">
			<div class="card card_padding">
				<a href="#" class="card_link">
					<div class="card__thumbnail card__thumbnail_border card__thumbnail_animation">
						<img src="/static/images/temporary_anavailable.png" class="card-thumbnail__image"/>
						<p class="card-thumbnail__text card-thumbnail__text_color">Опять что-то про мишек</p>
						<p class="card-thumbnail__date card-thumbnail__date_padding card-thumbnail__date_margin card-thumbnail__date_font-size-045">13.04.2016</p>
					</div>
				</a>
			</div>
		</div>
		<div class="media-object">
			<div class="card card_padding">
				<a href="#" class="card_link">
					<div class="card__thumbnail card__thumbnail_border card__thumbnail_animation">
						<img src="/static/images/temporary_anavailable.png" class="card-thumbnail__image"/>
						<p class="card-thumbnail__text card-thumbnail__text_color">Опять что-то про мишек</p>
						<p class="card-thumbnail__date card-thumbnail__date_padding card-thumbnail__date_margin card-thumbnail__date_font-size-045">13.04.2016</p>
					</div>
				</a>
			</div>
		</div>
		<div class="media-object">
			<div class="card card_padding">
				<a href="#" class="card_link">
					<div class="card__thumbnail card__thumbnail_border card__thumbnail_animation">
						<img src="/static/images/temporary_anavailable.png" class="card-thumbnail__image"/>
						<p class="card-thumbnail__text card-thumbnail__text_color">Опять что-то про мишек</p>
						<p class="card-thumbnail__date card-thumbnail__date_padding card-thumbnail__date_margin card-thumbnail__date_font-size-045">13.04.2016</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block bottom-scripts %}
{% endblock %}