<div class="main-menu {{ js_target_mmenu }}">
	<nav class="navigation" role="navigation">
		<div class="main-menu-item main-menu-item_position">
			<a href="{{ main_menu_blogs_path }}" class="main-menu-item-link">
				<span class="main-menu-item-text">Блог</span>
			</a>
		</div>
		<div class="main-menu-item main-menu-item_position">
			<a href="#" class="main-menu-item-link {{ js_trigger_portfolio }}">
				<span class="main-menu-item-text">Портфолио</span>
			</a>
			<!-- Sub menu -->
			<div class="main-menu-item__submenu {{ js_target_portfolio }}">
				<div class="main-menu-item">
					<a href="." class="main-menu-item-link">
						<span class="main-menu-item-text">Свадебная фотография</span>
					</a>
				</div>
				<div class="main-menu-item">
					<a href="." class="main-menu-item-link">
						<span class="main-menu-item-text">Love Story</span>
					</a>
				</div>
				<div class="main-menu-item">
					<a href="." class="main-menu-item-link">
						<span class="main-menu-item-text">Портрет</span>
					</a>
				</div>
				<div class="main-menu-item">
					<a href="." class="main-menu-item-link">
						<span class="main-menu-item-text">Детская и семейная фотография</span>
					</a>
				</div>
				<div class="main-menu-item">
					<a href="." class="main-menu-item-link">
						<span class="main-menu-item-text">Видео</span>
					</a>
				</div>
			</div>
			<!-- End sub menu -->
		</div>
		<div class="main-menu-item main-menu-item_position">
			<a href="#" class="main-menu-item-link">
				<span class="main-menu-item-text">Услуги и цены</span>
			</a>
		</div>
		<div class="main-menu-item main-menu-item_position">
			<a href="#" class="main-menu-item-link {{ js_trigger_info }}">
				<span class="main-menu-item-text">Полезная информация</span>
			</a>
			<!-- Sub menu -->
			<div class="main-menu-item__submenu {{ js_target_info }}">
				<div class="main-menu-item">
					<a href="." class="main-menu-item-link">
						<span class="main-menu-item-text">Статьи</span>
					</a>
				</div>
				<div class="main-menu-item">
					<a href="." class="main-menu-item-link">
						<span class="main-menu-item-text">О себе</span>
					</a>
				</div>
			</div>
			<!-- End sub menu -->
		</div>
		<div class="main-menu-item main-menu-item_position">
			<a href="#" class="main-menu-item-link">
				<span class="main-menu-item-text">Контакты</span>
			</a>
		</div>
	</nav>
</div>