<div class="row">
	<div class="small-12 medium-12 large-6 columns">
		<div>
			<img src="https://img-fotki.yandex.ru/get/65449/230892406.5/0_1971d2_34dfd5ed_orig" alt=""/>
		</div>
	</div>
	<div class="small-12 medium-12 large-6 columns">
		<div class="card">
			<div class="card__thumbnail">
			<p>Историю нашей семьи Илья начал запечатлевать с самого её создания. Мы позвали его фотографом на нашу свадьбу. Хотелось бы отметить, что в работе Илья очень пунктуален, и если что ни будь пообещал, то так и будет! К процессу относится с душой, готов всегда помочь в постановке кадра, но без фанатизма, если от нас исходит инициатива всегда рад! Очень внимателен к деталям, которые простым людям не всегда приметны! Быстро становится своим, что важно для стесняшек, и особенно если хотите запечатлеть малыша! Наша лялечка в 8 месяцев получилась очень круто) Обычно самые важные моменты в нашей жизни, проносятся с огромной скоростью, не упусти момент, а лучше обратись к тому кто этим живем! Всем советую Илью! У нас уже коллекция его работ, свадьба, беременность, встреча из роддома, крещение, и одна из последних его работ с нашей семьёй, это новогоднее волшебство в студии. Мы безумно рады что познакомились с ним и планируем продолжать наш семейный рост под прицелом его фотокамеры!</p>
			<p class="card-thumbnail__date card-thumbnail__date_font-size-075 card-thumbnail__date_font-italic card-thumbnail__date_align-right">Паша и Марина</p>
			</div>
		</div>
	</div>
</div>