<div class="row">
	<div class="small-12 columns">
		<div class="prices-block prices-block_margin-bottom">
			<h5 class="header-5 prices-block__caption">Свадебная фотосъемка до 6 часов</h5>
			<ul>
				<li>консультация</li>
    			<li>съемка до 6 часов (не менее 300 фотографий)</li>
    			<li>цветокоррекция всех фотографий ( свет, цвет, контраст )</li>
    			<li>уменьшенная копия всех фото для интернета</li>
    			<li>печать 50 луших фотографий 10 х 15</li>
    			<li>весь материал отдается на flash - носителе в дизайнерской упаковке</li>
    		</ul>
    		<h5 class="prices-block__price">Цена: 15000 руб.</h5>
		</div>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<div class="prices-block prices-block_margin-bottom">
			<h5 class="header-5 prices-block__caption">Свадебная фотосъемка до 6 часов</h5>
			<ul>
				<li>консультация</li>
    			<li>съемка до 6 часов (не менее 300 фотографий)</li>
    			<li>цветокоррекция всех фотографий ( свет, цвет, контраст )</li>
    			<li>уменьшенная копия всех фото для интернета</li>
    			<li>печать 50 луших фотографий 10 х 15</li>
    			<li>весь материал отдается на flash - носителе в дизайнерской упаковке</li>
    		</ul>
    		<h5 class="prices-block__price">Цена: 15000 руб.</h5>
		</div>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<div class="prices-block prices-block_margin-bottom">
			<h5 class="header-5 prices-block__caption">Свадебная фотосъемка до 6 часов</h5>
			<ul>
				<li>консультация</li>
    			<li>съемка до 6 часов (не менее 300 фотографий)</li>
    			<li>цветокоррекция всех фотографий ( свет, цвет, контраст )</li>
    			<li>уменьшенная копия всех фото для интернета</li>
    			<li>печать 50 луших фотографий 10 х 15</li>
    			<li>весь материал отдается на flash - носителе в дизайнерской упаковке</li>
    		</ul>
    		<h5 class="prices-block__price">Цена: 15000 руб.</h5>
		</div>
	</div>
</div>