<div class="row">
	<div class="small-12 medium-6 columns">
		<div class="prices-block prices-block_margin-bottom">
			<h5 class="header-5 prices-block__caption">Свадебная фотосъемка до 6 часов</h5>
			<ul>
				<li>консультация</li>
    			<li>съемка до 6 часов (не менее 300 фотографий)</li>
    			<li>цветокоррекция всех фотографий (свет, цвет, контраст)</li>
    			<li>уменьшенная копия всех фото для интернета</li>
    			<li>печать 50 луших фотографий 10х15 текстурированная печать (silk)</li>
    			<li>весь материал отдается на flash-носителе в дизайнерской упаковке</li>
    		</ul>
    		<h5 class="prices-block__price">Цена: 18000 руб.</h5>
		</div>
	</div>
	<div class="small-12 medium-6 columns">
	 <img src="https://img-fotki.yandex.ru/get/198569/230892406.8/0_1c3881_caeeafe9_orig">
	</div>
</div>
<div class="row">
	<div class="small-12 medium-6 columns">
		<div class="prices-block prices-block_margin-bottom">
			<h5 class="header-5 prices-block__caption">Свадебная фотосъемка до 10 часов</h5>
			<ul>
				<li>консультация</li>
    			<li>съемка до 10 часов (не менее 700 фотографий)</li>
    			<li>цветокоррекция всех фотографий (свет, цвет, контраст)</li>
    			<li>уменьшенная копия всех фото для интернета</li>
    			<li>печать фотокниги 30х40 (обложка белая кожа, 92 страницы)</li>
    			<li>весь материал отдается на flash-носителе в дизайнерской упаковке</li>
    		</ul>
    		<h5 class="prices-block__price">Цена: 30000 руб.</h5>
		</div>
	</div>
	<div class="small-12 medium-6 columns">
	 <img src="">
	</div>
</div>
<div class="row">
	<div class="small-12 medium-6 columns">
		<div class="prices-block prices-block_margin-bottom">
			<h5 class="header-5 prices-block__caption">Свадебная фотосъемка до 12 часов</h5>
			<ul>
				<li>консультация</li>
    			<li>съемка до 12 часов (не менее 800 фотографий)</li>
    			<li>цветокоррекция всех фотографий (свет, цвет, контраст)</li>
    			<li>уменьшенная копия всех фото для интернета</li>
    			<li>предсвадебная съемка love story + печать 50 лучших фотографий</li>
    			<li>печать премиум фотокниги 30х30 (книга с раскрытием лмстов на 180 градусов
    			специальный футляр и обложка из кожи, 92 страницы)</li>
    			<li>весь материал отдается на flash-носителе в дизайнерской упаковке</li>
    		</ul>
    		<h5 class="prices-block__price">Цена: 60000 руб.</h5>
		</div>
	</div>
	<div class="small-12 medium-6 columns">
	 <img src="">
	</div>
</div>
<div class="row">
	<div class="small-12 medium-6 columns">
		<div class="prices-block prices-block_margin-bottom">
			<h5 class="header-5 prices-block__caption">После вашей свадьбы небольшую серию фотографий(порядка 50-70)
			вы получите уже в течении двух недель, остальные фотографии будут готовы в течении трех месяцев</h5>
		</div>
	</div>
	<div class="small-12 medium-6 columns">
	 <img src="">
	</div>
</div>
<div class="row">
	<div class="small-12 medium-6 columns">
		<div class="prices-block prices-block_margin-bottom">
			<h5 class="header-5 prices-block__caption">Также возможна почасовая работа по договорености 3000 рублей в час</h5>
		</div>
	</div>
	<div class="small-12 medium-6 columns">
	 <img src="">
	</div>
</div>
<div class="row">
	<div class="small-12 medium-6 columns">
		<div class="prices-block prices-block_margin-bottom">
			<h5 class="header-5 prices-block__caption">Love story</h5>
			<ul>
				<li>2-3 часа съемки</li>
    			<li>не менее 100 фотографий</li>
    			<li>цветокоррекция всех фотографий (свет, цвет, контраст)</li>
    			<li>уменьшенная копия всех фото для интернета</li>
    			<li>печать 50 лучших фотографий 10х15 текстурированная печать (silk)</li>
    			<li>слайд-фильм из фотографий</li>
    			<li>весь материал отдается на flash-носителе в дизайнерской упаковке</li>
    		</ul>
    		<h5 class="prices-block__price">Цена: 10000 руб.</h5>
		</div>
	</div>
	<div class="small-12 medium-6 columns">
	 <img src="https://img-fotki.yandex.ru/get/198976/230892406.8/0_1c385f_8b6ff464_orig">
	</div>	
	<div class="row">
	<div class="small-12 medium-6 columns">
		<div class="prices-block prices-block_margin-bottom">
			<h5 class="header-5 prices-block__caption">Семейная фотосъемка</h5>
			<ul>
				<li>2-3 часа съемки</li>
    			<li>не менее 100 фотографий</li>
    			<li>цветокоррекция всех фотографий (свет, цвет, контраст)</li>
    			<li>уменьшенная копия всех фото для интернета</li>
    			<li>весь материал отдается на flash-носителе в дизайнерской упаковке</li>
    		</ul>
    		<h5 class="prices-block__price">Цена: 7500 руб.</h5>
		</div>
	</div>
