<div class="row prices-row_padding-bot">
	<div class="small-12 medium-6 columns">
		<div class="prices-block prices-block_margin-bottom">
			<h5 class="header-5 prices-block__caption">MINIMUM</h5>		
			<h5 class="header-5 prices-block__caption">Свадебная фотосъемка до 6 часов</h5>
			<ul>
				<li>консультация</li>
    			<li>съемка до 6 часов (не менее 300 фотографий)</li>
    			<li>цветокоррекция всех фотографий (свет, цвет, контраст)</li>
    			<li>печать 50 луших фотографий 10х15 текстурированная печать (silk)</li>
    			<li>весь материал отдается на flash-носителе в дизайнерской упаковке</li>
    		</ul>
    		<h5 class="prices-block__price">Цена: 18000 руб.</h5>
		</div>
	</div>
	<div class="small-12 medium-6 columns">
	 <img src="https://img-fotki.yandex.ru/get/46310/230892406.9/0_1c49ca_2c782bf3_orig">
	</div>
	<hr/>
</div>
<div class="row prices-row_padding-bot">
	<div class="small-12 medium-6 columns">
		<div class="prices-block prices-block_margin-bottom">
			<h5 class="header-5 prices-block__caption">STANDART</h5>		
			<h5 class="header-5 prices-block__caption">Свадебная фотосъемка до 10 часов</h5>
			<ul>
				<li>консультация</li>
    			<li>съемка до 10 часов (не менее 700 фотографий)</li>
    			<li>цветокоррекция всех фотографий (свет, цвет, контраст)</li>
    			<li>печать фотокниги 20х20 (в тканевой обложке, 62 страницы)</li>
    			<li>весь материал отдается на flash-носителе в дизайнерской упаковке</li>
    		</ul>
    		<h5 class="prices-block__price">Цена: 30000 руб.</h5>
		</div>
	</div>
	<div class="small-12 medium-6 columns">
	 <img src="https://img-fotki.yandex.ru/get/194858/230892406.9/0_1c49c1_d9e63a32_orig">
	</div>
	<hr/>	
</div>
<div class="row prices-row_padding-bot">
	<div class="small-12 medium-6 columns">
		<div class="prices-block prices-block_margin-bottom">
			<h5 class="header-5 prices-block__caption">PREMIUM</h5>		
			<h5 class="header-5 prices-block__caption">Свадебная фотосъемка до 12 часов</h5>
			<ul>
				<li>консультация</li>
    			<li>съемка до 12 часов (не менее 800 фотографий)</li>
    			<li>цветокоррекция всех фотографий (свет, цвет, контраст)</li>
    			<li>предсвадебная съемка love story + печать 50 лучших фотографий</li>
    			<li>печать премиум фотокниги 30х30 (книга с раскрытием листов на 180 градусов,
    			специальный футляр и обложка из кожи, 92 страницы)</li>
    			<li>весь материал отдается на flash-носителе в дизайнерской упаковке</li>
    		</ul>
    		<h5 class="prices-block__price">Цена: 60000 руб.</h5>
		</div>
	</div>
	<div class="small-12 medium-6 columns prices-row_padding-bot">
	 <img src="https://img-fotki.yandex.ru/get/40801/230892406.9/0_1c45a9_c00820a0_orig">
	</div>
	<hr/>	
</div>
<div class="row prices-row_padding-bot">
	<div class="small-12 medium-6 columns">
		<div class="prices-block prices-block_margin-bottom">
			<h5 class="header-5 prices-block__caption">После вашей свадьбы небольшую серию фотографий(порядка 50-70)
			вы получите уже в течении двух недель, остальные фотографии будут готовы в течении трех месяцев</h5>
		</div>
	</div>
	<div class="small-12 medium-6 columns">
	 <img src="">
	</div>
	<hr/>	
</div>
<div class="row prices-row_padding-bot">
	<div class="small-12 medium-6 columns">
		<div class="prices-block prices-block_margin-bottom">
			<h5 class="header-5 prices-block__caption">Также возможна почасовая работа по договоренности 3000 рублей в час</h5>
		</div>
	</div>
	<div class="small-12 medium-6 columns">
	 <img src="">
	</div>
	<hr/>
</div>
<div class="row prices-row_padding-bot">
	<div class="small-12 medium-6 columns">
		<div class="prices-block prices-block_margin-bottom">
			<h5 class="header-5 prices-block__caption">Love story</h5>
			<ul>
				<li>2-3 часа съемки</li>
    			<li>не менее 100 фотографий</li>
    			<li>цветокоррекция всех фотографий (свет, цвет, контраст)</li>
    			<li>печать 50 лучших фотографий 10х15 текстурированная печать (silk)</li>
    			<li>слайд-фильм из фотографий</li>
    			<li>весь материал отдается на flash-носителе в дизайнерской упаковке</li>
    		</ul>
    		<h5 class="prices-block__price">Цена: 10000 руб.</h5>
		</div>		
	</div>
	<div class="small-12 medium-6 columns">
	 <img src="https://img-fotki.yandex.ru/get/194778/230892406.9/0_1c4a7b_79ee381c_orig">
	</div>
	<hr/>
</div>			
<div class="row prices-row_padding-bot">
	<div class="small-12 medium-6 columns">
		<div class="prices-block prices-block_margin-bottom">
			<h5 class="header-5 prices-block__caption">Семейная фотосъемка</h5>
			<ul>
				<li>2-3 часа съемки</li>
				<li>не менее 100 фотографий</li>
				<li>цветокоррекция всех фотографий (свет, цвет, контраст)</li>
				<li>весь материал отдается на flash-носителе в дизайнерской упаковке</li>
			</ul>
			<h5 class="prices-block__price">Цена: 7500 руб.</h5>
		</div>
	</div>
		<div class="small-12 medium-6 columns prices-row_padding-bot">
			<img src="https://img-fotki.yandex.ru/get/225029/230892406.9/0_1c7b34_11c62974_orig">
		</div>
</div>