.article-list-item {
    /*width: 60em;*/
    /*margin: 0 auto;*/
}
.articles-list-content {
    display: block;
    position: relative;
}
.articles-list-content_width_960 {
    width: 960px;
    margin: 0 auto;
}
/* shit */
.article-list-item {
    background-color: #F5F5F5;
    padding: 1em;
}
.article-list-item-main-content-image {
    padding-bottom: 1em;
}
.article-list-item-main-content-image__image-thumb {
    width: 30%;
}
.article-list-item-main-content-image__image {
    width: 100%;
}
.article-list-item__main-content {
    margin-left: 4em;
}
.article-list-item-main-content {
    padding: 1em;
    background-color : #f9f9f9;
}
.article-list-item-main-content_border-layer {
    border-left: 1px solid #999;
}
.article-list-item-main-content-text {
    background-color: #f2f2f2;
    padding: 0.5em;
    font-size: 1em;
    font-family: Arial, sans-serif;
    letter-spacing:1px;
}
.article-list-item-main-content-text_font-style_italic {
    font-style: italic;
}

.article-list-item-caption {
    color: #707070;
    font-family: Arial,sans-serif;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.5em;
    padding: 1em 1em 0 0;
}

.articles-list-item-main-content__read_more_link {
    text-decoration: none;
    color: #999999;
}

.articles-list-item-main-content__read_more_link:visited {
    color: #999999;
}
