.index-block {

}
.index-block_padding_top {
	padding-top: 0.9375rem;
}

.footer{
}
.footer_margin_top {
	margin: 0px;
}
.footer_padding_aside {
	padding: 24px 0 10px;

}
.footer_background_color {
	background: #333 none repeat scroll 0% 0%;
}
.footer-links {
	margin: 0;
	display: inline-block;
	padding-bottom: 0;
}
.footer-links__list-item {
	float: left;
	display: block;
	margin-left: 3px;
}
.footer-links_list-item_font {
	font-size: 0.75rem;
	font-family: inherit;
}
.footer-links__list-item_text-transform_uppercase {
	text-transform: uppercase;
}
.footer-links-link {
	color: #666666;
	line-height: inherit;
	font-weight: 700;
	text-decoration: none;
}
.footer-links-link_hover:hover {
	color: #999999;
}
.footer-links-link_focus:focus {
	color: #999999;
}
.site-profile {

}
.site-profile_background {
	background: #666666;
}
.site-profile_padding-aside {
	padding: 24px 0 10px;
}
.site-profile_margin-top_1rem {
	margin-top: 1rem;
}
.gallery-links {
}
.gallery-links_height {
	min-height: 220px;
	height: auto;
}
.gallery-links_border {
	border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.gallery-links_padding-left_50px {
	padding-left: 50px;
}
.gallery-links-list {
	list-style: none;
}
.gallery-links-list_margin_0 {
	margin: 0;
}
.gallery-links-list_padding_0 {
	padding: 0;
}
.gallery-links-list__li {
	padding-bottom: 9px !important;
	line-height: 1.25em;
}
.gallery-links-list__li_font {
	font-style: inherit;
	font-size: inherit;
}
.gallery-links-list-link {
	text-decoration: none;
}
.gallery-links-list-link_hover:hover {
	color: #999999;
}
.gallery-links-list-link_focus:focus {
	color: #999999;
}
.gallery-links-list-link_font {
	color: inherit;
}
.extended-contacts {
	text-align: center;
}
.extended-contacts_height {
	min-height: 220px;
	height: auto;
}
.extended-contacts_padding_left {
	padding-left: 50px;
}
.extended-contacts_border {
	border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-logo-img {
	display: inline-block;
	background: transparent url("http://foto-ruban.ru/static/images/favicon.png") no-repeat scroll 0% 0% / cover;
	font-size: 1rem;
	width: 24px;
	height: 25px;
	padding: 0px;
}