<div class="row align-center small-collapse">
	<div class="small-12 medium-6 columns">
		<img src="http://foto-ruban.ru/media/iliya.jpg"/>
	</div>
	<div class="small-12 medium-6 columns">
		<div class="row">
			<div class="small-6 columns">
				<span>Фотограф&nbsp;:</span>
			</div>
			<div class="small-6 columns">
				<span>Рубан&nbsp;Илья</span>
			</div>
		</div>
		<div class="row">
			<div class="small-6 columns">
				<span>Телефон&nbsp;:</span>
			</div>
			<div class="small-6 columns">
				<a href="tel: +7 925 823-84-40">
					<span>+7&nbsp;925&nbsp;823-84-40</span>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="small-6 columns">
				<span>E-mail&nbsp;:</span>
			</div>
			<div class="small-6 columns">
				<a href="mailto: foto-ruban@mail.ru">
					<span>foto-ruban@mail.ru</span>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
					<fieldset>
						<legend>Обратная&nbsp;связь</legend>
						<div class="row collapse">
							<div class="small-9 columns">
								<input name="name" type="text" placeholder="как к вам обращаться"></input>
							</div>
							<div class="small-3 columns">
							    <a href="javascript:{}" onclick="document.getElementById('sendmsg').submit();return false;"  class="button prefix">отправить</a>
							</div>
						</div>
						<div class="row collapse">
							<div class="small-12 columns">
								<textarea name="message" rows=12 placeholder="оставьте здесь ваше сообщение"></textarea>
							</div>
						</div>
						<div class="row collapse">
						    <div class="small-12 columns">
								<input name="mail" type="text" placeholder="обратный почтовый адресс"></input>
							</div>
					</fieldset>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<ul class="menu">
					<li>
						<div class="contacts__contact-container">
							<div class="contact">
								<a href="/contacts/" class="contact-link">
									<span class="contacts-page__contact-icon contact-icon_mail"></span>
									<span class="contact-icon-text"></span>
								</a>
							</div>
						</div>
					</li>
					<li>
						<div class="contacts__contact-container">
							<div class="contact">
								<a href="http://instagram.com/foto_ruban/" class="contact-link">
									<span class="contacts-page__contact-icon contact-icon_instgrm"></span>
									<span class="contact-icon-text"></span>
								</a>
							</div>
						</div>
					</li>
					<li>
						<div class="contacts__contact-container">
							<div class="contact">
								<a href="https://vk.com/id281922907" class="contact-link">
									<span class="contacts-page__contact-icon contact-icon_vk"></span>
									<span class="contact-icon-text"></span>
								</a>
							</div>
						</div>
					</li>
					<li>
						<div class="contacts__contact-container">
							<div class="contact">
								<a href="http://facebook.com/profile.php?id=100009428172184" class="contact-link">
									<span class="contacts-page__contact-icon contact-icon_fb"></span>
									<span class="contact-icon-text"></span>
								</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- 		<div class="full-contacts" itemscope itemtype="http://schema.org/Person">
			<div class="full-contacts-layout">
				<div class="full-contacts-layout__left">
				<div class="full-contacts-image__wrapper">
					<img class="full-contacts-image" src="http://foto-ruban.ru/media/iliya.jpg"/ itemprop="image">
				</div>
				</div>
				<div class="full-contacts-layout__right">
					<div class="full-contacts-info">
						<div class="full-contacts-info-item full-contacts-info-item_border-bottom">
							<span class="full-contacts-info-item__caption" itemprop="jobTitle">Фотограф</span>
							<a class="full-contacts-info-item__link">
								<span class="full-contacts-info-item-link-text" itemprop="name">Илья Рубан</span>
							</a>
						</div>
						<div class="full-contacts-info-item">
							<span class="full-contacts-info-item__caption">Адрес&nbsp;:</span>
							<a class="full-contacts-info-item__link">
								<span class="full-contacts-info-item-link-text">Россия&nbsp;,&nbsp;город&nbsp;Москва</span>
							</a>
						</div>
						<div class="full-contacts-info-item">
							<span class="full-contacts-info-item__caption">Телефон&nbsp;:</span>
							<a class="full-contacts-info-item__link" href="tel: +7 925 823-84-40">
								<span class="full-contacts-info-item-link-text" itemprop="telephone">+7&nbsp;925&nbsp;823-84-40</span>
							</a>
						</div>
						<div class="full-contacts-info-item">
							<span class="full-contacts-info-item__caption">Email&nbsp;:</span>
							<a class="full-contacts-info-item__link"  href="mailto: foto-ruban@mail.ru">
								<span class="full-contacts-info-item-link-text" itemprop="email">foto-ruban@mail.ru</span>
							</a>
						</div>
						<div class="full-contacts-info-item">
							<span class="full-contacts-info-item__caption">Социальные&nbsp;сети&nbsp;:</span>
							
				<div class="contacts">
					<div class="contacts__contact-container">
						<div class="contact">
							<a href="tel: +7 925 823-84-40" class="contact-link">
								<span class="contact-icon contact-icon_phone"></span>
								<span class="contact-icon-text">+7&nbsp;925&nbsp;823-84-40</span>
							</a>
						</div>
					</div>
					<div class="contacts__contact-container">
						<div class="contact">
							<a href="http://instagram.com/foto_ruban/" class="contact-link">
								<span class="contact-icon contact-icon_instgrm"></span>
								<span class="contact-icon-text"></span>
							</a>
						</div>
					</div>
					<div class="contacts__contact-container">
						<div class="contact">
							<a href="https://vk.com/id281922907" class="contact-link">
								<span class="contact-icon contact-icon_vk"></span>
								<span class="contact-icon-text"></span>
							</a>
						</div>
					</div>
					<div class="contacts__contact-container">
						<div class="contact">
							<a href="http://facebook.com/profile.php?id=100009428172184" class="contact-link">
								<span class="contact-icon contact-icon_fb"></span>
								<span class="contact-icon-text"></span>
							</a>
						</div>
					</div>
				</div>
			

						</div>
					</div>
					<div class="full-contacts-info-form">
						<span class="full-contacts-info-item__caption">Обратная&nbsp;связь&nbsp;:</span>
							<span class="full-contacts-info-form__field-label">Представтесь:</span>
							<input name="name" type="text" class="full-contacts-info-form__field"/>
							<span class="full-contacts-info-form__field-label">Адрес электронной почты:</span>
							<input type="text" name="mail" class="full-contacts-info-form__field"/>
							<textarea name="message" class="full-contacts-info-form__field full-contacts-info-form__field_textarea-height" rows="20" value=""></textarea>
							<input type="submit" class="full-contacts-info-form__field" value="Отправить"/>
					</div>
				</div>
			</div>
		</div> -->
